doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="/js/index.js")
    body
        div.snip-container
            a(href="/snippets")
                h1.title Snippets
            block content