doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/jquery-2.0.3.min.js")
        script(src="/js/index.js")
    body
        div.container
            a(href="/")
                h1.main-title sibo.me
            block content