doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/jquery-2.0.3.min.js")
        script(src="/js/index.js")
    body
        div.container
            a.main-title(href="/")
                h1 sibo.me
            div.nav-bar
                a(href="/") Home
                a(href="http://blog.sibo.me") Blog
                a(href="/snippets/") Snippets
                a(href="/pinIt") PinIt
                a(href="/readability") Readability
                a(href="/about") About
            block content