doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/jquery-2.0.3.min.js")
        script(src="/js/index.js")
        block head
    body
        div.snip
            div.nav
                a(href="/") Home
                a(href="/snippets") Snippets
            div.snip-container
                block content
        block body