doctype html
html(ng-app="app")
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel="icon", type="image/png",href="/favicon.png")
        script(src="/js/jquery-2.0.3.min.js")
        script(src="/js/index.js")
        script(src="/js/angular/angular.min.js")
        script(src="/js/angular/angular-route.min.js")
        script(src="/js/app.js")
        block head
    body
        div.snip
            div.nav
                a(href="/") Home
                a(href="/snippets") Snippets
                a(href="/pinIt") PinIt
            div.snip-container
                block content
        block body
