//
   Created by massimo on 2014/7/6.

extends ../shared/layout

block content
    div.about-me
        div
            p
                | I'm massimo, a web developer.
        div.github
            p
                | Github:
                a(href="https://github.com/yangsibai") @yangsibai
            div
                iframe(src="http://githubbadge.appspot.com/yangsibai",style="border:0;height:142px;width:200px;overflow:hidden;",frameBorder="0")
        div.stackoverflow
            p
                | Stackoverflow:
                a(href="http://stackoverflow.com/users/1778658/osrpt") @osrpt
            p
                a(href="http://stackoverflow.com/users/1778658/osrpt")
                    img(src="http://stackoverflow.com/users/flair/1778658.png",width="208",height="58")
        div.twitter
            p
                | Twitter:
                a(href="https://twitter.com/massimoyang") @massimoyang
        div.email
            p
                | Email: yangsibai@gmail.com
