@import "reset.css";
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #333333;
  background-color: #f8f8f8;
}
body a {
  color: #3377aa;
  text-decoration: none;
  text-shadow: 1px 1px 1px #f0f0f0;
}
body a:hover {
  color: #ffffff;
  background: #3377aa;
  text-decoration: underline;
  text-shadow: none;
}
body p {
  margin-bottom: 10px;
}
body input[type="text"],
body input[type="password"],
body textarea {
  border: 1px solid #aaaaaa;
  padding: 5px 10px;
}
body input[type="text"]:focus,
body input[type="password"]:focus,
body textarea:focus {
  box-shadow: 0 0 10px #4e78ff;
}
.container {
  padding: 40px;
  height: 100%;
}
.container .main-title {
  font-size: 40px;
  margin-bottom: 10px;
  display: block;
}
.container .main-title:hover {
  color: #333;
  background: #f8f8f8;
}
.container .nav-bar {
  font-size: 20px;
  margin-bottom: 20px;
}
.container .nav-bar a {
  margin-right: 20px;
}
.snip {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background: #333;
  position: relative;
  padding: 20px 0;
}
.snip .nav {
  position: absolute;
  top: 20px;
  left: 20px;
}
.snip .nav a {
  margin-right: 20px;
  font-size: 16px;
  text-shadow: none;
  color: #5c75d0;
}
.snip .nav a:hover {
  color: #cdc6ce;
  background: none;
}
.snip .snip-container {
  width: 900px;
  min-height: 93%;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 10px 20px;
}
.snip .snip-container .secondary-title {
  text-shadow: 2px 2px 2px #B6A6A6;
  font-size: 30px;
  color: #333333;
  margin: 20px 0 10px;
  font-weight: bold;
}
.snippets .new {
  margin-bottom: 20px;
}
.snippets .list .item {
  margin-bottom: 10px;
}
.snippets .list .item .link {
  font-size: 16px;
}
.snippets .list .item .time {
  font-size: 12px;
  margin-left: 10px;
}
.form .form-control {
  display: block;
  margin-bottom: 10px;
}
.form .form-control .description {
  color: #666666;
  display: block;
  margin-bottom: 5px;
}
.form .form-control input {
  width: 300px;
  border-radius: 5px;
}
.form .form-control .snippet-content {
  height: 400px;
  border-radius: 5px;
  width: 800px;
}
.form .form-control .submit {
  height: 30px;
  width: 80px;
  cursor: pointer;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #4e78ff;
  outline: none;
  border: none;
}
.form .form-control .submit:hover {
  color: #4e78ff;
  background-color: #ffffff;
  border: 1px solid #4e78ff;
}
.form .form-control .desc {
  margin-left: 10px;
  font-size: 12px;
}
.snippet .info {
  color: #666666;
  margin-bottom: 20px;
  font-size: 12px;
}
.snippet .info .tags {
  display: inline;
  margin-left: 20px;
}
.snippet .info .tags .tag-list {
  display: inline;
  margin-left: 5px;
}
.snippet .info .tags .tag-list .tag-name {
  display: inline;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}
.snippet .info .operate {
  margin-left: 10px;
}
.snippet .content {
  font-size: 16px;
  color: #333333;
  line-height: 1.5em;
}
.snippet .content .prettyprint {
  font: 14px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: auto;
}
.snippet .content .prettyprint .linenums {
  list-style-type: decimal;
  padding: 10px 40px;
  line-height: 1.5em;
}
.auth .form-control .description {
  margin-bottom: 20px;
}
.auth .form-control input {
  width: 200px;
  height: 30px;
}
.new-snippet .form-control .language {
  height: 30px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #aaaaaa;
}
.pin-it .secondary-title {
  padding-left: 10px;
}
.pin-it .menu {
  margin: 20px 10px;
}
.pin-it .menu .menu-item {
  cursor: pointer;
  margin-right: 10px;
  display: inline;
}
.pin-it .list {
  overflow: auto;
  padding: 10px 0 10px 10px;
}
.pin-it .list .pin {
  width: 279px;
  height: 150px;
  float: left;
  border: 1px solid #aaaaaa;
  margin-right: 20px;
  margin-bottom: 20px;
}
.pin-it .list .pin .page-info {
  margin: 10px;
}
.pin-it .list .pin .page-info .page-title {
  font-size: 20px;
  color: #333333;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.pin-it .list .pin .page-info .page-title .link {
  color: #333333;
}
.pin-it .list .pin .page-info .page-title .link:hover {
  color: #3377aa;
  background: none;
  text-decoration: none;
}
.pin-it .list .pin .page-info .page-description {
  font-size: 12px;
  margin-bottom: 10px;
}
.pin-it .list .pin .page-info .page-description .time {
  margin-left: 5px;
}
.pin-it .list .pin .page-info .page-description .archive {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
  opacity: .5;
  background: url("/img/archive.png");
}
.pin-it .list .pin .page-info .page-description .archive:hover {
  opacity: 1;
}
.pin-it .list .pin .page-info .pin-list .pin-item .message {
  font-size: 16px;
  margin-right: 10px;
}
.pin-it .list .pin .page-info .pin-list .pin-item .pin-time {
  font-size: 12px;
}
.pin-it .list .pin:nth-of-type(3n) {
  margin-right: 0;
}
.pin-it .list .pin:hover {
  box-shadow: 0px 0px 10px #4e78ff;
}
