//
   Created by massimo on 2014/7/8.
doctype html
html
    head
        title circle
        link(rel="stylesheet",href="/csc/circle.css")
        script(src="/js/pixi/pixi.js")
    body
        div#circle
        script(src="/js/circle.js")