//
   Created by massimo on 2014/7/1.

extends  ../shared/layout_snippet

block content
    div.snippets
        h2.secondary-title Snippets
        div.new
            a(href="/snippets/new") New
        div.list
            ul
                each snippet in snippets
                    li.item
                        a.link(href='/snippets/single/'+snippet.id) #{snippet.title}
                        span.time #{snippet.addTime}