extends ../shared/layout

block content
    p Welcome to #{title}
    p contact me:
        a(href="mailto:yangsibai@gmail.com") yangsibai@gmail.com
    div
        a(href="http://blog.sibo.me") Sibo's blog