//
   Created by massimo on 2014/7/6.

extends ../shared/layout

block content
    div.contact
        p
            | I'm massimo, a web developer.
        p
            | Twitter: @massimoyang
        p
            | Email: yangsibai@gmail.com