//
   Created by massimo on 2014/7/6.

extends ../shared/layout

block content
    div.contact
        p
            | I'm massimo, a web developer.
        p
            | Github:
            a(href="https://github.com/yangsibai") @yangsibai
        p
            | Twitter:
            a(href="https://twitter.com/massimoyang") @massimoyang
        p
            | Email: yangsibai@gmail.com