extends ../shared/layout_snippet

block content
    div.new-snippet
        h2.secondary-title New Snippet
        div.form
            div.form-control
                span.description File name
                input(type="text",id="title")
                select.language
                    option(value="coffee") Coffee Script
                    option(value="csharp") C Sharp
                    option(value="css") Css
                    option(value="html") Html
                    option(value="java") Java
                    option(value="javascript") Javascript
                    option(value="markdown") Markdown
                    option(value="sql") SQL
                    option(value="text",selected="selected") Text
            div.form-control
                span.description Content
                pre#editor
            div.form-control
                span.description Tags
                input(type="text",id="tags")
                small.desc split tags by '|'
            div.form-control
                button.submit(id="submit") Submit

        pre#editor

block body
    script(src="/js/ace-min/ace.js")
    script.
        $(document).ready(function(){
            codeEditor("editor","new");
        });